/* === Root Variables === */
:root {
    --accent-color: #CCF381;
    --background-color: #4831D4;
    --text-color: #fff;
    --text-dark: #3B0D11;

    --breakpoint-lg: 1024px;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 2.25rem;

    --font-weigth-semibold: 600;

    --spacing-xxs: 4px;
    --spacing-xs: 6px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;
    --spacing-3xl: 48px;
    --spacing-4xl: 64px;
    --spacing-5xl: 96px;
}

@media (min-width: 1025px) {
    :root {
        font-size: 1.25rem;
    }
}

/* === Typography === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-color);
    font-size: var(--font-size-base);
    margin: 0;
}

body p {
    font-family: "SF Pro Rounded", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

.title {
    font-size: var(--font-size-2xl);
}

.subheading {
    font-size: var(--font-size-lg);
}

/* === Layout === */
body {
    background-color: var(--background-color);
    font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    padding-bottom: var(--spacing-xl);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    padding-top: var(--spacing-2xl);
}

figure {
    margin: 0;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        padding: 0 var(--spacing-3xl);
    }
}

header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (min-width: 1024px) {
    header {
        box-sizing: border-box;
        padding-bottom: var(--spacing-5xl);
        padding-top: var(--spacing-5xl);
        padding-right: var(--spacing-5xl);
        width: 48%;
    }
}

.social-media-links {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md)
}

.photo-section {
    display: flex;
    justify-content: center;
}

.photo-section-lg {
    display: none;
}

@media (min-width: 1024px) {
    .photo-section-mobile {
        display: none;
    }

    .photo-section-lg {
        display: block;
        margin-bottom: var(--spacing-xxs);
    }
}

/* === Image with Offset === */
.image-with-offset {
    height: 180px;
    position: relative;
    width: 180px;
}

.image-with-offset img {
    height: 100%;
    width: 100%;
}

.image-with-offset .offset-square {
    border-color: var(--accent-color);
    border-style: solid;
    border-width: 1px;
    height: 100%;
    left: var(--spacing-sm);
    position: absolute;
    top: var(--spacing-sm);
    width: 100%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4xl);
    padding-top: var(--spacing-4xl);
}

@media (min-width: 1024px) {
    main {
        overflow-y: auto;
        padding-top: var(--spacing-5xl);
        scrollbar-width: none;
        width: 52%;
    }
}

main .subheading {
    padding-bottom: var(--spacing-2xl);
}

.page-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-3xl) 0;
}

.page-navigation a {
    align-items: center;
    display: flex;
    gap: var(--spacing-sm);
    text-decoration: none;
}

.page-navigation a::before {
    content: '';
    display: block;
    width: var(--spacing-2xl);
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

nav a.active::before {
    width: 64px;
}

.page-navigation a:hover::before {
    width: 64px;
}

#about-section p {
    padding-bottom: var(--spacing-lg);
}

#experience .experience-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-3xl);
}

#experience .experience-dates {
    color: var(--accent-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weigth-semibold);
}

#experience .experience-title {
    font-weight: var(--font-weigth-semibold);
}

.tags {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
}

.chip {
    background-color: var(--accent-color);
    border-radius: 100px;
    color: var(--text-dark);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weigth-semibold);
    padding: var(--spacing-xxs) var(--spacing-md);
}

/* === Utilities === */
.text-accent {
    color: var(--accent-color);
}

@media(max-width: 1023px) {
    .lg-only {
        display: none;
    }
}